*{
	padding: 0;
	margin: 0;
}
#wrapper{
	margin: 0 auto;
	width: 60%;
}
#f-left{
	float: left;
	width: 40%;
}
#f-right{
	float: right;
	width: 40%;
}
#fieldset1{
	height: 250px;
	line-height: 20px;
}
#fieldset2{
	height: 350px;
	line-height: 20px;
}
.f-name{
	float: left;
}
div{
	padding: 10px;
}
h2{
	padding: 20px;
}
span{
	color: red;
}
input{
	height: 25px;
}
@media screen and (max-width: 1280px){
	#wrapper{
		margin: 0 auto;
		width: 80%;
}
	#f-left{
		width: 40%;
		float: left;
}
	#f-right{
		width: 49%;
		float:left;
	}
}
@media screen and (max-width: 1024px){
	#wrapper{
		margin: 0 auto;
		width: 100%;
}
	#f-left{
		width: 35%;
		float: left;
		margin: 1%;
		line-height: 5px;
}
	#f-right{
		width: 50%;
		float:left;
	}
	#fieldset1{
		margin: 5px;
	}
}
@media screen and (max-width: 768px){
	#wrapper{
		margin: 0 auto;
		width: 90%;
}
	#f-left{
		margin: 0 auto
		width: 45%;
		float: left;
}
	#f-right{
		width: 47%;
		float: 	right;
}
}